@charset "UTF-8";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css";
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}

body {
  margin: 10px 0 0 0;
}
body .container {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  /*width: 500px;*/
}
body .container .player {
  margin: 0;
  position: relative;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  *zoom: 1;
  width: 100%;

  height:  5rem;
  display: flex;
  align-items: center;
justify-content: space-around;
margin-bottom:  2rem;
}
body .container .player .large-toggle-btn {
  /*border: 1px solid #d9d9d9;*/
  /*border-radius: 2px;*/
  /*float: left;*/
  font-size: 1.5em;
  position: relative;
  text-align: center;

  padding:  0.5rem;
}
body .container .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -14%;
}
body .container .player .large-toggle-btn .large-play-btn:before {
  content: "";
  font: 1.5em/1.75 "FontAwesome";
}
body .container .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -13%;
}
body .container .player .large-toggle-btn .large-pause-btn:before {
  content: "";
  font: 1.5em/1.75 "FontAwesome";
}
body .container .player .info-box {

}
body .container .player .info-box .track-info-box {
  font-size: 12px;

  *zoom: 1;
}
body .container .player .info-box .track-info-box .track-title-text {
  display: inline-block;
}
body .container .player .info-box .track-info-box .audio-time {
  display: inline-block;
  padding: 0 0 0 5px;
  width: 80px;
}
body .container .player .info-box .track-info-box:before, body .container .player .info-box .track-info-box:after {
  content: " ";
  display: table;
}
body .container .player .info-box .track-info-box:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
body .container .player .progress-box {
  float: left;
  min-width: 270px;
  position: relative;
}
body .container .player .progress-box .progress-cell {
  height: 12px;
  position: relative;
}
body .container .player .progress-box .progress-cell .progress {
  background: #fff;
  border: 1px solid #d9d9d9;
  height: 8px;
  position: relative;
  width: auto;
}
body .container .player .progress-box .progress-cell .progress .progress-buffer {
  background: hotpink;
  height: 100%;
  width: 0;
}
body .container .player .progress-box .progress-cell .progress .progress-indicator {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  width: 22px;
}
body .container .player .controls-box {

}
body .container .player .controls-box .previous-track-btn {
  cursor: pointer;
  display: inline-block;
}
body .container .player .controls-box .previous-track-btn:before {
  content: "";
  font: 1em "FontAwesome";
}
body .container .player .controls-box .next-track-btn {
  cursor: pointer;
  display: inline-block;
}
body .container .player .controls-box .next-track-btn:before {
  content: "";
  font: 1em "FontAwesome";
}
body .container .player:before, body .container .player:after {
  content: " ";
  display: table;
}
body .container .player:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
body .container .play-list {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}
body .container .play-list .play-list-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  *zoom: 1;
}
body .container .play-list .play-list-row .track-title .playlist-track {
  color: #000;
  text-decoration: none;
}
body .container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
body .container .play-list .play-list-row .small-toggle-btn {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
body .container .play-list .play-list-row .small-toggle-btn .small-play-btn {
  display: inline-block;
}
body .container .play-list .play-list-row .small-toggle-btn .small-play-btn:before {
  content: "";
  font: 0.85em "FontAwesome";
}
body .container .play-list .play-list-row .small-toggle-btn .small-pause-btn {
  display: inline-block;
}
body .container .play-list .play-list-row .small-toggle-btn .small-pause-btn:before {
  content: "";
  font: 0.85em "FontAwesome";
}
body .container .play-list .play-list-row .track-number {
  display: none;
}
body .container .play-list .play-list-row .track-title {
  display: inline-block;
}
body .container .play-list .play-list-row .track-title .playlist-track {
  text-decoration: none;
}
body .container .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}
body .container .play-list .play-list-row .track-title.active-track {
  font-weight: bold;
}
body .container .play-list .play-list-row .track-title.active-track .playlist-track {
  color: hotpink;

}
body .container .play-list .play-list-row:before, body .container .play-list .play-list-row:after {
  content: " ";
  display: table;
}
body .container .play-list .play-list-row:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}


body {
  background:  lightpink url(bg.jpg) center center no-repeat;
  background-size:  cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 4rem;
}
.container {
  margin:  2rem auto;
  display: block;

}

h1 {
  color:  white;
  color:  rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 1.5em;
}
.player {
  background:  white;
  background:  rgba(255, 255, 255, 0.7);
}
.play-list {
  background: white;
  background:  rgba(255, 255, 255, 0.7);
  padding:  2rem;
  margin-top:  2rem;
}

.download {
  background: white;
  background:  rgba(255, 255, 255, 0.7);
  padding:  2rem;
  margin-top:  2rem;
  text-align: center;
}
.download a {
  display: inline-block;
  background:  hotpink;
  color:  white;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;

}
.download a:hover {
  background: white;
  color:  hotpink;
}
